* {
  padding: 0px;
  margin: 0px;
  outline: 0px;
  
}
.heading {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: #1cac23;
}
.bounce {
	margin-left:-30px;
	animation: bounce 2s infinite;
}
 
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-5px);}
}